<nav>
    <div class="menu">
        <div class="menu-burger">
            <input type="checkbox" class="toggle">
            <div class="burger">
                <div></div>
            </div>
        </div>
        <div class="brand_image">
            brand image
        </div>
    </div>


    <div class="middle flex">
        <div class="calender_nav">
            <button>
                <i class="bi bi-chevron-left"></i>
            </button>
            <button><i class="bi bi-chevron-right"></i></button>
        </div>
        <p>{{activeDate}}</p>
    </div>
    <div class="settings_container flex">
        <button class="search"><i class="bi bi-search"></i></button>
        <button class="search"><i class="bi bi-question-circle"></i></button>
        <button class="settings"> <i class="bi bi-gear"></i></button>
        <div class="day_options">
            <select>
                <option>Day</option>
                <option>test</option>
                <option>test</option>
            </select>
        </div>
    </div>

</nav>